<section class="section3" id="section3">
    <h4 class="section3_title">¡Prepáralos con tus marcas favoritas!</h4>
    <h2 class="section3_title2">VUELTA AL COLE</h2>
    <div class="products">
        <article class="article1 articles">
            <img src="./images/lpbts-mod05-img01-desk.png" alt="girl with backpack" class="products_img">
            <p class="products_text">Mochilas escolares</p>
        </article>
        <article class="article2 article">
            <img src="./images/lpbts-mod05-img04-mob.png" alt="boy with pencil case" class="products_img">
            <p class="products_text">Estuches</p>
        </article>
        <article class="article3 article">
            <img src="./images/lpbts-mod05-img03-mob.png" alt="girl with sportsbag" class="products_img">
            <p class="products_text">Bolsas de deporte</p>
        </article>
    </div>
    <button class="begin">Empezar ahora</button>
</section>